<mat-card>
    <h1>Add</h1>
    <form #signinForm="ngForm" >
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "student.name"
                name = "name"
                required>
            </mat-form-field>
        </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Mathematics</mat-label>
              <input matInput
                [(ngModel)] = "student.mathematics" 
                name = "mathematics" 
                required>
            </mat-form-field>
          </p>       
          
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psychometric</mat-label>
              <input matInput
                [(ngModel)] = "student.psychometric" 
                name = "psychometric" 
                required>
            </mat-form-field>
          </p>
          <p>
          <input
          type="checkbox"
          [(ngModel)]="student.pay"/>Student pay
        </p>
        <div >
        <button mat-raised-button color="primary">
                    Prediction
            </button>
        </div>
      </div>
    </form>
   </mat-card>

